.side-bar{
  position: fixed;
  top: 55px;
  bottom: 0;
  left: 0;
  width: 100px;
  background-color: white;
  z-index: 200;
}

.side-bar-link{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height:80px;
  margin-bottom: 1px;
  font-size: 15px;
}

.side-bar-link:hover{
  background-color: rgb(240, 240, 240);
}

.home-icon{
  height: 32px;
}

.subscriptions{
  height: 19px;
}

.shorts-icon, .explore-icon, .live-icon{
  height: 20px;
}