body{
  background-color: rgb(37, 37, 37);
}
.user-profile{
  height: 90px;
  width: 90px;
  object-fit: cover;
  border-radius: 45px;
  padding-left: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.user-container{
  width: 300px;
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 10px;
}

.info{
  margin-left: 15px;
}

.subscriber{
  color: rgb(96,96,96);
  font-size: 12px;
}